
body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}